@import "window-width";
@import "font";


.feedback__title {
  padding: 40px 16px 24px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;

  @media (min-width: $tabletWidth) {
    padding: 40px 32px 24px;
  }

}

.feedback__title:before {
  content: "";
  position: absolute;
  display: flex;
  height: 40px;
  width: 4px;
  left: 0;
  top: 96px;
  background-color: #41F6D7;
  border-radius: 0px 10px 10px 0px;
  @media (min-width: $tabletWidth) {
    top: 32px;
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback__input-text {
  height: 48px;
  border: 1px solid rgba(234, 234, 234, 1);
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  border-radius: 6px;
  padding: 12px 16px;
}

.feedback__input-text::placeholder {
  color: rgba(181, 182, 188, 1);
}

.feedback__input-textarea {
  min-height: 118px;
  resize: none;
  border: 1px solid rgba(234, 234, 234, 1);
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  border-radius: 6px;
  padding: 12px 16px;
}

.feedback__input-textarea::placeholder {
  color: rgba(181, 182, 188, 1);
}

.feedback__description {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(126, 126, 130, 1);
}

.feedback__description a{
  color: rgba(255, 62, 121, 1);
  transition: 0.2s;
}

.feedback__description a:hover{
  opacity: 60%;
}

.feedback__submit-button {
  display: flex;
  align-content: center;
  width: 136px;
  height: 32px;
  background: rgba(255, 62, 121, 1);
  border-radius: 10px;
  padding: 0 12px;
  text-transform: uppercase;
  flex-wrap: wrap;
  font-size: 12px;
  margin-left: auto;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.15000000596046448px;
  color: white;
  background-image: url("../img/dropdown1.png");
  background-position: center right 10px;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.feedback__submit-button:hover {
  opacity: 60%;
}
